body{
	background-color: #000000;
}
h1{
	color: limegreen;
	border: 3px inset white;
	display: block;
	width: max-content;
	padding: 5px 10px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
h2{
	color: white;
}
p{
	text-align: center;
	color: limegreen;
	margin-top: 2px;
	margin-bottom: 2px;
}
ul{
	justify-content: center;
	width: max-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
section.alfabeto a{
	text-decoration: none;
	color: limegreen;
}
section.home a{
	text-decoration: none;
	color: limegreen;
}